main {
    min-height: 700px;
    padding-top: 70px;
}


.contact-ways {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-ways .icon-container {
    /* border: 1px solid red; */
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-evenly;
}

.contact-ways .icon-container a{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    
}

.laoderm-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.contact-ways .details-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

.contact-ways a {
    text-decoration: none;
    color: #313131;
    font-size: 1.7rem;
}


#travel-img img{
    max-width: 500px;
    margin: 20px 0px;
    border-radius: 5px;
}